body {
    background: grey;
    color: white;
    width: 300px;
}

.main-content {
    width: 700px;
    margin: 0 auto;
}

.u {
    text-decoration: underline;
}

.mets {
    background: orange;
    color: #0012b8;
}

.dodgers {
    background: blue;
}

.cubs {
    background: black;
    
}

.pittsburgh {
    background: yellow;
    color: #551963;
}

.cardinals {
    background: red;
    color: #000000;
}

.table-container {
    background: black;
}

div
{
    padding: 15px 20px;
    margin-bottom: 15px;
}


table, tr, th, td {
    border: 1px solid white;
    padding: 10px;
    border-collapse: collapse;
}
