h1
{
        text-align:right;
}

body
{
        
background: #507550;


}

.header
{
background: #CCDDA9;
 clear: both;
 padding-bottom: 20px;
  width: 75%;
}

.nav
{
background: #3A9A3A;
 clear: both;
 padding-bottom: 20px;
  width: 75%;
}


