h1
{
        text-align:right;
}

h2
{
        text-align: left;
}


body
{
        
background: #507550;


}

.header
{
background: #CCDDA9;
 clear: both;
 padding-bottom: 20px;
  width: 75%;
  margin: 0 50px 0 30px;
}

.nav
{
background: #3A9A3A;
 clear: both;
 padding-bottom: 20px;
  width: 75%;
  
   display: inline;
    padding-left: 20 px;
    margin-top: 10px;
}


